@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}
body{
    background-color: #212121;
    overflow-x:hidden
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    /* position: sticky; */

  
  
}
nav>a>img{
    width: 23%;
}
nav>div>a>input{
    border: 1px solid white;
    height: 28px;
    border-radius: 5px;
background-color: black;
width: 60%;
    
    
}
nav>div>a>input::placeholder{
    font-size: 15px;
    padding-left: .4rem;
}
nav>div>button{
    border-radius: 8px;
    padding:7px 12px;
   
    background-color: #0a84ff;
    color: white;
    font-size: 13px;
}



/* grid carousele style here*/





.row{
  padding-bottom: 1.5rem;

}

:root {
  --handle-size: 3rem;
  --img-gap: .4rem;
  
 
}

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider {
  padding-bottom:2rem ;
  --items-per-screen: 5;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 800ms ease-in-out;
 

}

.slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  border-radius: 1rem;

}

.handle {
  border: none;
  border-radius: .4rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #212121;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  line-height: 0;
  transition: background-color 250ms ease-in-out;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
 
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* .handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
} */

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc(var(--img-gap) * 2 + var(--handle-size));
  align-items: center;
 
}

.title {
  font-size: 1rem;
  margin: 0 0 0 1rem;
  color: white;
}
.title>p{
  color: gray;
  font-size: .8rem;
}
.hr{
  border-bottom: 1px solid gray;
}




@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
 
}

@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
 
  
}



















#first-div>:nth-child(1){
    font-size: 15px;
    color: white;
    margin: 10px;
    
}
#second-div>:nth-child(1){
    font-size: 15px;
    color: white;
    margin: 10px;
    
}
#first-div{
    width: 95%;
    margin: auto;
}
#second-div{
    width: 95%;
    margin: auto;
}

.wrapper {
    display: flex;
    /* width: 95%; */
    position: relative;
    margin: auto;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
  }
  .wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343f4f;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active {
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover {
    background: #f2f2f2;
  }
  .wrapper i:first-child {
    left: -22px;
    display: none;
  }
  .wrapper i:last-child {
    right: -22px;
  }
  .wrapper .carousele {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousele.dragging {
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousele.dragging img {
    pointer-events: none;
  }
  .carousele img {
    width: 70%;
    object-fit: cover;
    /* user-select: none; */
    margin-left: 14px;
    width: calc(100% / 5);
    border-radius: 15px;
  }
  .carousele img:first-child {
    margin-left: 0px;
  }

  @media screen and (max-width: 900px) {
    .carousele img {
      width: calc(100% / 2);
    }
  }

  @media screen and (max-width: 550px) {
    .carousele img {
      width: 100%;
    }
  }
  #show-device{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #device-size>:first-child{
    width: 9%;
    border-radius: 5px;
  }
#device-size{
  color: white;
  width: 54%;
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}
#device-size>div{
  margin: 2rem;
}
#device-size>h1{
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  
}
#device-size>p{
  text-align: center;
}

#device-size>a{
  color: #409cff;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: .8rem;
}
#device-size>a:hover{
  text-decoration: underline;
}
#device-size>:nth-child(5){
  display: grid;
  grid-template-columns: repeat(5,1fr);
}
#device-size>:nth-child(5)>div>img{
  width: 70%;
  display: block;
  margin: auto;
}

#device-avilable{
  color: white;
  width: 54%;
  margin: auto;
  text-align: center;
}
#device-avilable>a{
  display: block;
}
#device-avilable>:nth-child(4){
  display: flex;
  /* border: 1px solid red; */
}
#device-avilable>:nth-child(4)>div{
  width: 30%;
  margin: auto;
  margin-top: 0;
  
}
#device-avilable>:nth-child(4)>div>img{
  width: 45%;
  display: block;
  margin: auto;
}
#device-avilable>:nth-child(4)>div>a{
  display: block;
  color: gray;
  text-decoration: none;
  font-size: .9rem;

}
#device-avilable>:last-child{
  margin-top: 1rem;
  font-size: .6rem;
}
#device-avilable>:nth-child(2){
  color: #409cff;
  text-decoration: none;
  font-size: .8rem;
}
#device-avilable>:nth-child(2):hover{
  text-decoration: underline;
}
#device-avilable>:nth-child(3){
  color: #409cff;
  text-decoration: none;
  font-size: .8rem;
}
#device-avilable>:nth-child(3):hover{
  text-decoration: underline;
}
#device-avilable>:nth-child(1){
  font-size: 1.2rem;
  font-weight:bold;
}



/* faq css start here */

#faq{
  padding-top: 3rem;

      }
#accordion {
  width: 100%;
  margin: auto;
}
.accordion-item {
  background-color: #212121;
  border:none;

  margin: 1rem;
}
.accordion-item-header {
  color: white;
  padding: 0.5rem 3rem 0.5rem 0rem;
  font-size: 1.2rem;
  min-height: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\003C";
  transform: rotate(90deg);
  transition: 0.8s;
  font-size: 30px;
  position: absolute;
  right: 0;
  color: gray;
}
.accordion-item-header.active::after {
  content: "\003C";
  transform: rotate(270deg);
  transition: 0.5s;
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
color: white;
  transition: max-height 0.8s;
  border-bottom: 1px solid gray;
}
.accordion-item-header:current{
 
border: 1px solid red;

}
.accordion-item-body-content{
  font-size: .8rem;
  padding-bottom: 2rem;
}
.accordion-item-body-content>a{
  text-decoration: none;
}

.accordion-item-header.active + .accordion-item-body {
  max-height: 200px;
}
.accordion-item-header {
  display: flex;
  justify-content: space-between;
}
#faq{
  width: 70%;
  margin: auto;
}
#faq>:first-child{
  color: white;
  text-align: center;
}


/* copyright section style here*/
.copyright{
  padding: 2rem;
  margin-bottom: -2rem;
}
.copyright>p{
  color: gray;
  font-size: .7rem;
  margin-bottom: -.2rem;
}
.copyright>div>a{
  color: gray;
  font-size: .7rem;
  text-decoration: none;

}
.copyright>div{
  color: gray;
}


/* start free trial style here */

#strat-free-trial{
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: #262629;
  padding: 1.2rem;
  font-size: .8rem;
  position: sticky;
  bottom: 0px;
  z-index: 11;
  padding-bottom: 0;

}
#strat-free-trial>:nth-child(1)>p{
  color: grey;
}
#strat-free-trial>:nth-child(2)>p{
  color: gray;
}
#strat-free-trial>:nth-child(1)>p>a{
  text-decoration: none;
}
#strat-free-trial>:nth-child(1)>p>a:hover{
  text-decoration: underline;
}
#strat-free-trial>:nth-child(2){
  text-align: center;
}
#strat-free-trial>:nth-child(2)>button{
  width: 60%;
  border-radius: 5px;
  height: 2.3rem;
  font-size: .8rem;
  border: 1px solid white;
}



/* signin form style */
#sign-in-btn{
  cursor: pointer;
  
}


.sign-in-form-container{
  color: white;
  width: 50%;
  margin: auto;
  margin-top: 1rem;
  background-color: #262629;
  border-radius: 5px;
  z-index: 50;
  position: absolute;
  top: -50%;
  left:50%;
  transform: translate(-50%,-50%);
   height: 80vh;
    
}
.sign-in-form-container>div>img{
  width: 15%;
  margin: 1rem 0;

}
.sign-in-form-container>div{
  text-align: center;
  width: 50%;
  margin: auto;

}
.sign-in-form-container>span{
 margin: 1.5rem;
 font-size: 2.5rem;
 cursor: pointer;

}
.over-lap{
  transition: 1s;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 51;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
 
}
.active-show-sign-form{
  top: 50%;
  transition: .5s;
  z-index:60;
}
.show-over-lap{

  display: block;
}
.close-animate{
  top: -50%;
  transition: .5s;
}
.sign-in-form-container>div>h2{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
.sign-in-form-container>div>p{
  font-size: .8rem;
  margin-bottom: 1.5rem;
}
.sign-in-form-container>div>input{
  margin-bottom: 1.5rem;
  border-radius: 5px;
  width: 80%;
  border: none;
  height: 2rem;
  padding: 10px;

}
.sign-in-form-container>div>div{
  
  /* border: 1px solid red; */
  margin-top: 3rem;
}
.sign-in-form-container>:nth-child(2)>div>div{
padding-bottom: .5rem;
  /* border: 1px solid red; */

}
.sign-in-form-container>:nth-child(2)>div>div>a{
  font-size: .8rem;
  text-decoration: none;
  color: #0a84ff;
}
.sign-in-form-container>:nth-child(2)>div>div>a:hover{
  text-decoration: underline;
}


/* sign up form */


.sign-up-form-container{
  color: white;
  width: 55%;
  margin: auto;
  margin-top: .5rem;
  background-color:rgb(51, 51, 51);;
  border-radius: 5px;
  z-index: 50;
  position: absolute;
  top: -50%;
  left:50%;
  transform: translate(-50%,-50%);
   height: 80vh;  
}


.sign-up-form-container>div>img{
  width: 15%;
  margin: 1rem 0;

}
.sign-up-form-container>div{
  text-align: center;
  width: 50%;
  margin: auto;

}

.sign-up-form-container>span{
  margin: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
 
 }
 .over-lap{
   transition: 1s;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 51;
   position: fixed;
   width: 100%;
   height: 100vh;
   display: none;
  
 }
 .active-show-sign-form{
   top: 50%;
   transition: .5s;
   z-index:60;
 }
 .show-over-lap{
 
   display: block;
 }
 .close-animate{
   top: -50%;
   transition: .5s;
 }
 .sign-up-form-container>div>h2{
   font-size: 1.5rem;
   margin-bottom: 1rem;
 }
 .sign-up-form-container>div>p{
   font-size: .7rem;
   margin-bottom: 1rem;
 }

 
 .sign-up-form-container>:nth-child(2)>div>div{
 padding-bottom: .5rem;
   /* border: 1px solid red; */
 
 }
 .sign-up-form-container>:nth-child(2)>div>div>a{
   font-size: .8rem;
   text-decoration: none;
   color: #0a84ff;
 }
 .sign-up-form-container>:nth-child(2)>div>div>a:hover{
   text-decoration: underline;
 }
 .sign-up-form-container>div>div>div>button{
  width: 10rem;
  border: none;
  border-radius: 5px;
  padding: .3rem;
 }
.subtn{
display: flex;

}
.subtn>:nth-child(1)>button{
  margin-right: 1rem;
  background-color: #343f4f;
  color: white;
  
}
.subtn>:nth-child(2)>button{
  background-color: #0a84ff;
  color: white;
}
.sign-up-form-container>:nth-child(2)>:nth-child(3){
  font-size: 1rem;
  color: gray;
}
.sign-up-form-container a{
  text-decoration: none;
}
.sign-up-form-container a:hover{
  text-decoration: underline;
}



.create-apple-id-container{
  color: white;
  width: 55%;
  margin: auto;
  margin-top: .5rem;
  background-color:rgb(51, 51, 51);
  border-radius: 5px;
  z-index: 50;
  position: absolute;
  top: -50%;
  left:50%;
  transform: translate(-50%,-50%);
   height: 80vh;  
   overflow-y: scroll;
   
}
.create-apple-id-container>span{
  margin: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
 
 }
 .create-apple-id-container>:nth-child(2)>h2{
  text-align: center;
 }
 .create-apple-id-container>:nth-child(2){
  width: 75%;
  margin: auto;
 }
 .create-apple-id-container>:nth-child(2) input,select {
  display: block ;
  margin: auto;
  margin-bottom: 2rem ;
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid gray;
  background-color:#212121 ;
  color: white;
  padding-left: 1rem;
 }
 .create-apple-id-container>:nth-child(2) >p{
  margin-top: -1.5rem;
  font-size: .8rem;
  color: gray;
 }
 .create-apple-id-container>:nth-child(3){

  width: 75%;
  margin: auto;
 }
 .create-apple-id-container>:nth-child(3) p{
  color: gray;
  font-size: .7rem;
 }
 .create-apple-id-container>:nth-child(4){
  text-align: right;
  border-top: 1px solid gray;
  padding: 1rem 0;
  z-index: 90;
 } 
 .create-apple-id-container>:nth-child(4) button{
  width: 8rem;
  height: 2.5rem;
  border-radius: 5px;
  border: none;
  padding: 0 1rem;
 }
 .create-apple-id-container>:nth-child(4)>:nth-child(1){
  background-color: rgb(51, 51, 51);
  color: white;
 }
 .create-apple-id-container>:nth-child(4)>:nth-child(2){
  background-color:#409cff;
  color: white;
 }

 



























 /* medium screen */
 @media screen and (max-width:768px) and (min-width:321px) {
  #device-size>:nth-child(5){
    grid-template-columns: repeat(3,1fr);
  }
  #device-size>:nth-child(5)>div>img{
    width: 100%;
  }
}
/* small screen */
@media screen and (max-width:420px) and (min-width:250px) {
  #device-size>:nth-child(5){
    grid-template-columns: repeat(3,1fr);
  }
  #device-avilable>:nth-child(4){
   flex-direction: column;
  }
  #device-size>:nth-child(5)>div>img{
    width: 100%;
    
  }
  
}